* {
    margin: 0px;
}
header {
    border: solid black 1px;
}
#content {
    margin: 10px;
    width: 500px;
    height: 800px;
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
}
#add-task {
    margin: 10px;
    border: solid black 1px;
}
#add-task input {
    margin: 10px;
    margin-right: 0px;
    border: solid black 1px;
}
#tasks {
    margin: 10px;
    border: solid rgb(0, 0, 0) 1px;
}
#tasks #task {
    margin: 10px;
    border: solid rgb(0, 0, 0) 1px;
}
#tasks #task {
    line-height: 10px;
}
#tasks #task button {
    margin-left: 10px;
}